<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <mapping class="crawler.domain.Novel" />
        <mapping class="crawler.domain.NovelChapter" />
        <mapping class="crawler.domain.NovelChapterHistory" />
        <mapping class="crawler.domain.NovelChapterInfo" />
        <mapping class="crawler.domain.NovelHistory" />
        <mapping class="crawler.domain.NovelInfo" />
        <mapping resource="crawler/dao/hibernate/NovelDao.hbm.xml" />
    </session-factory>

</hibernate-configuration>
