<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="off">

    <Properties>
        <Property name="loglayout">[%d{yyyy-MM-dd HH:mm:ss.SSS}], %-5p, %t, %c, %m%n</Property>
    </Properties>

    <Appenders>
        <RollingFile name="applog" fileName="${sys:app_home}/logs/app.log" filePattern="${sys:app_home}/logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${loglayout}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Log application -->
        <Logger name="crawler" level="debug" additivity="false">
            <AppenderRef ref="applog" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="applog" />
        </Root>
    </Loggers>

</Configuration>
