<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
</head>
<body>
<dl>
#foreach ($unreadNovel in $unreadNovels)
  <dt><a href="$unreadNovel.url">$unreadNovel.title</a></dt>
  #foreach ($unreadNovelChapter in $unreadNovel.novelChapters)
    <dd>$date.format('yyyy/MM/dd', $unreadNovelChapter.novelChapterInfo.modifiedDate) <a href="$unreadNovelChapter.url">$unreadNovelChapter.title</a>
    #if($unreadNovelChapter.createDate ne $unreadNovelChapter.updateDate)
      (更新)
    #end
    </dd>
  #end
#end
</dl>
</body>
</html>
