<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>

<configuration>

    <shutdownHook/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", Europe/Paris} [%thread] %p %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <!-- Log SQL statements -->
    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
    <!-- Log cache -->
    <logger name="org.hibernate.cache" level="debug" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
    <logger name="org.ehcache" level="debug" additivity="false">
        <appender-ref ref="Console"/>
    </logger>
    <!-- Log application -->
    <logger name="crawler" level="debug" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <root level="info">
        <appender-ref ref="Console" />
    </root>

</configuration>
